---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Hello, World!</h1>
			<p>
				At helloinsurance.dev, we believe in leveraging modern technology, thoughtful design, 
				and industry expertise to create sustainable and transformative solutions for  
				underwriting, claims, and servicing platforms.
				While we show case our solution set in the context of Term Life insurance, 
				these ideas and implementations are designed to be easily extended to other sectors,  
				including P&C, LTC, E&S, Disability, and similar sectors.
				Through this blog, we aim to share our ideas, architectures(both application and data), 
				reference implementations, and solutions to inspire innovation within the insurance sector.
			</p>

			<p>
				We are committed to open-sourcing these solutions including premium rating engine (applicable for 
				commission and benefit calculations, as well as dynamic formula-based operations), 
				an underwriter workbench, a claims desktop, a policy servicing dashboard, 
				a B2C buying portal, data products, embedded analytics and much more. 
			</p>

			<p>
				We hope you enjoy our content, find it valuable, learning together, sharing ideas and 
				contribute to transforming the industry together.
			</p>
			<!-- <p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul> -->
		</main>
		<Footer />
	</body>
</html>
