---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Hello, World!</h1>
			<p>
				At helloinsurance.dev, we believe in leveraging modern technology, thoughtful design, 
				and industry expertise to create sustainable and transformative solutions for  
				underwriting, claims, and servicing platforms.
				While we showcase our solution set in the context of Term Life insurance, 
				a relatively simple type of insurance, these ideas and implementations are designed to 
				scale across more complex and flexible insurance types.
				This includes medium-complexity products like Property & Casualty (admitted P&C),  
				Long Term Care (LTC), and Disability, as well as the most flexible categories like
				Excess & Surplus (non admitted E&S).
				Through this blog, we aim to share our ideas, architectures(both application and data), 
				reference implementations, and solutions to inspire innovation within the insurance sector.
			</p>

			<p>
				We are committed to open-sourcing these solutions including premium rating engine (applicable for 
				commission and benefit calculations, as well as dynamic formula-based operations), 
				an underwriter workbench, a claims desktop, a policy servicing dashboard, 
				a B2C buying portal, data products, embedded analytics and much more. 
			</p>
		
			<p>
				Since we are all experiencing the disruptive nature of LLM-GenAI, 
				we will have a special focus on AI-driven interventions, 
				exploring how they can improve operational efficiency, improve decision-making, 
				and redefine the customer experience in the insurance industry.
			</p>

			<p>
				We hope you enjoy our content, find it valuable, learning together, sharing ideas and 
				contribute to transforming the industry together.
			</p>
		</main>
		<Footer />
	</body>
</html>
