---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<a href="/" class="logo-container">
			<img src="/hi-icon.svg" alt="Logo" class="site-logo" />
			<!-- <span class="site-title">{SITE_TITLE}</span> -->
		</a>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.linkedin.com/company/helloinsurance-dev" target="_blank" aria-label="Follow on LinkedIn">
				<img src="/icons/linkedin.svg" alt="LinkedIn" width="24" height="24" />
			</a>
			<a href="https://bsky.app/profile/hi-dev.bsky.social" target="_blank" aria-label="Follow on Bluesky">
				<img src="/icons/bluesky.svg" alt="Bluesky" width="24" height="24" />
			</a>
			<a href="https://x.com/helloins_dev" target="_blank" aria-label="Follow on X">
				<img src="/icons/twitter.svg" alt="X" width="24" height="24" />
			</a>
			<a href="https://github.com/hello-insurance" target="_blank" aria-label="View GitHub Repo">
				<img src="/icons/github.svg" alt="GitHub" width="24" height="24" />
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	.logo-container {
		display: flex;
		align-items: center; /* Ensures vertical alignment of the logo and text */
		text-decoration: none;
	}

	.site-logo {
		height: 2.5em; /* Adjust as needed for logo size */
		margin-right: 0.5em; /* Space between logo and text */
	}

	.site-title {
		display: inline-block;
		color: var(--black); /* Adjust color to match your design */
		font-size: 1.2em; /* Adjust font size if needed */
	}


	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
